<html>
  <head>
  </head>
  <body style='background: <%= bg_color %>'>
    <% if guess == number || params['cheat'] %>
      <p>THE SECRET NUMBER IS: <%= number %></p>
    <% end %>
    <p> <%= message %></p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='guess!' />
    </form>
  </body>
</html>
